body {
    padding: 0 20px;
}

#ex1 {
    background-color: teal;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    /* Você também pode usar o dev tools do google para criar as sombras */
}

#ex2 {
    background-color: coral;
    width: 300px;
    height: 200px;
    border-radius: 0 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#ex3 {
    background-color: cornflowerblue;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}